.home_contain {
  display: grid;
  top: 100px;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-areas:
    "new_tweets new_tweets trends"
    "home_posts home_posts who_follow"
    "home_posts home_posts who_follow"
    "home_posts home_posts who_follow";
  flex-direction: column;
  gap: 40px;
  padding: 5% 0% 10% 15%;
  /* grid-template-columns: repeat(12, [col-start] 1fr); */
}
.trends {
  grid-area: trends;
  width: auto;
  height: 350px;
  border-radius: 5px;
  padding: 30px 30px;
}
.new_tweets {
  grid-area: new_tweets;
  width: 100%;
  max-width: 650px;
  max-height: 300px;
  border-radius: 10px;
  padding: 30px 30px;
}
.home_posts {
  grid-area: home_posts;
  border-radius: 10px;
   display:grid;
  max-width: 650px;
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);

  height:100%;
  gap:40px
}
.one_post{
  padding: 30px 30px;
  width:100%;
  border-radius: 10px;
  

}
.who_follow {
  grid-area: who_follow;
  border-radius: 10px;

  min-width: 250px;
  max-height: 400px;
  border-radius: 10px;
  padding: 30px 30px;

  
}


/* new tweets */

.tweet_title {
  font-size: 15px;
  font-weight: 700;
}

.new_tweets_container {
  display: flex;
  gap: 7px;
}
.text_tweet {
  width: 100%;
  height: 60px;
  border: none;
  left: 10px;
  font-size: 20px;
  overflow: hidden;
  line-height: 0.7;
  padding: 10px 10px;
}

.photo_new_tweets {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.text_tweet ::placeholder {
  font-size: 30px;
}

.button_newtweets {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 30px;
}

.btn-primary {
  background: none !important;
  border: none;
  padding: 0 !important;
}
.btn-secondary {
  margin-left: auto;
  order: 2;
  background-color: #1e90ff;
}
.btn-secondary:hover{ 
color: #1e90ff;
}

.dropdown-toggle {
  background: none !important;
  border: none;
  color: #1e90ff;
}
.btn_tof{
  width:30px;
  height: 30px;
}



/* post */
.tof_post {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.user_name {
  margin: 0;
  cursor: pointer;
}
.post_date {
  margin: 0;
  font-size: 13px;
  color: grey;
}
.info {
  display: flex;
  gap: 10px;
}
.one_post {
  display: inline-block;
}
.post_content {
  padding-top: 10px;
  line-height: 1.2;
  max-width: 600px;
}
.post_img {
  width: 600px;
  border-radius: 10px;
  min-height: 300px;
  max-height: 350px;
}
.numbers {
  display: flex;
  gap: 20px;
  justify-content:flex-end;
  padding: 5px 5px;
  width: 100%;
}
.btn_control {
  display: flex;
  gap: 90px;
  border-top: grey solid 1px;
  border-bottom: grey solid 1px;
  justify-content: center;
  align-items: center;
}
.btn_button {
  background: white;
  font-weight: 700;
  border: none;
}
.btn_likes{
  color:pink;
  background: white;
  font-weight: 700;
  border: none;
}
.btn_saved{
  color:rgb(192, 209, 255);
  background: white;
  font-weight: 700;
  border: none;
}
.btn_tweet{
  color:green;
  background: white;
  font-weight: 700;
  border: none;
}
.btn_button:hover {
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%); 
}
.comment_div {
  display: flex;
  padding-top: 30px;
  align-items: center;
  justify-content: center;
  gap:2px
}
.tof_comment {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin:0;
  padding:0
}
.text_comment {
  width: 100%;
  height: 50px;
  border: none;

  font-size: 15px;
  overflow: hidden;
  line-height: 0.7;
  padding: 10px 10px;
}
.text_comment ::placeholder {
  font-size: 15px;
}
.div_flex {
  display: flex;
  gap: 5px;
}
.photo_comment {
  width: 30px;
  height: 30px;
  border-radius: 10px;
}
.photo_shown{
  width: 150px;
  height: 200px;
  border-radius: 10px;

}
.comment_name {
  font-weight: 13px;
  font-weight: 600;
  margin: 0;
  cursor: pointer;
}
.photo_comment_div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.comment_date {
  margin: 0;
  font-size: 13px;
  color: grey;
}

.div_name_date {
  display: flex;
  gap: 5px;
}
.comment_details {

  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);  padding: 10px;
  border-radius: 10px;
  width: 100%;
}
.comment_buttons {
  display: flex;
  padding: 10px 0px 0px 40px;
  gap: 5px;
}
.btn_like {
  background: white;
  font-weight: 700;
  border: none;
  padding-top: 0;
}
.comment_paragraph {
  line-height: 1.1;
}
.trends_title {
  font-weight: 700;
  margin: 0;
}
.trends_div {
  line-height: 1.5;
  padding: 5px;
  cursor: pointer;
}
.trends_div:hover{
  background-color:#1e90ff
}
/* foolow container */
.follow_info{
  display: flex;
  gap:5px

}
.follow_name{
margin: 0;
font-size: 13px;
font-weight: 600;
margin: 0;
cursor: pointer;
}
.follow_numbers{
  font-size: 12px;
  color:grey;
}
.follow_button{
  margin-left: auto;
  order: 2;
font-size:13px;
background-color: #1e90ff;
border-radius: 5px;
padding:0;
width:80px;
height:25px;
border:none;

color:white;
}
.follow_paragraph{
font-size: 13px;
margin:0;
line-height:1.2;

}
.big_img{
  width:100%;
  height: 100px;
  border-radius: 10px;
}
.follow_img{
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
.who_follow{
    overflow-x: hidden;
  overflow-y: auto;
}
/* input file */

 .image-upload > #file-input
{
    display: none;
} 

.image-upload .fa-image
{
    width: 80px;
    cursor: pointer;
   
}
.tarea{
  display:flex;
  margin:0;
  width:100%;
}
.image-upload > #files
{
    display: none;
} 
.follow_name:hover{
  text-decoration: underline;
 
}
.comment_name:hover{
  color:#1e90ff;
  text-decoration: underline;

}
.user_name:hover{
  
  color:#1e90ff;
  text-decoration: underline;
}
